* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ::-webkit-scrollbar { /*Scroll bar width*/
    width: 8px;
  } 

  ::-webkit-scrollbar-track { /*Scroll bar background color*/
    background: #f7f7f7;
   
}

::-webkit-scrollbar-thumb { /* Scroll bar color */
  background: rgb(65, 165, 160);
  border-radius: 10px; 
}

}

#root {
  font-family: 'Fira Code', monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white: #f7f7f7;
  --primary: #000;
  --secondary: rgb(65, 165, 160);
  --tertiary: rgb(61, 136, 132);
  
}


